*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{

}
header{
	position: fixed;
	width: 100%;
	z-index: 2;

}
.container{
	width: 70%;
	margin: auto;
}
.clear{
	clear: both;
}
.header-content{
	padding: 20px 0px;
}
.header-content .logo{
	width: 40%;
	float: left;
}
.header-content .logo a{
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
}
.header-content .nav{
	width: 60%;
	list-style: none;
	float: left;
	text-align: right;
}
.header-content .nav > li{
	display: inline-block;
}
.header-content .nav > li > a{
	display: block;
	text-decoration: none;
	color: #FFF;
	margin: 0px 15px;
}
.header-content .nav > li > a:after{
	content: "";
	height: 4px;
	width: 0;
	background-color: #6195ff;
	transition: width 0.7s;
	display: block;
}
.header-content .nav > li > a.active:after{
	content: "";
	height: 4px;
	width: 100%;
	background-color: #6195ff;
	display: block;
}
.header-content .nav > li > a:hover:after{
	width: 100%;
}
.dropdown{
	position: relative;
}
.dropdown-menu{
	position: absolute;
    background-color: #6195ff;
    text-align: center;
    width: 186px;
    left: -53px;
    bottom: -40px;
    padding: 10px 0px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.dropdown-menu li a{
	display: block;
	text-decoration: none;
	font-size: 16px;
    display: block;
    text-decoration: none;
    color: #FFF;
}

.dropdown:hover .dropdown-menu{
	visibility: visible;
	opacity: 1;
}

/******** Home Section ********/
.home{
	position: relative;
	background-image: url("../images/image1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.overlay{
	position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
 }
.home-content{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.home-content .home-title{
	font-size: 40px;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.home-content .home-desc{
	color: #FFF;
    font-size: 19px;
    margin-bottom: 30px; 
}
.home-content .btn{
	width: 160px;
    padding: 15px 0;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
    transition: opacity 0.5s;
}
.home-content .btn-learn{
	margin-left: 10px;
	background-color: #6195ff;
	color: #FFF;
}
.home-content .btn:hover{
	opacity: 0.7;
}